.scrollToTopContainer {
  display: block;
  position: fixed;
  right: 0;
  bottom: 100px;
  right: -60px;
  transform: rotate(-90deg) !important;
  z-index: 2;
}
@media only screen and (max-width: 370px) {
  .scrollToTopContainer {
    right: -80px;
    padding: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .scrollToTopContainer {
    right: 0;
    padding: 0;
  }
}
.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 12px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
  filter: invert(16%) sepia(89%) saturate(4158%) hue-rotate(355deg)
    brightness(95%) contrast(96%);
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #f7f7f7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
