@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #131313;
  font-family: "Quattrocento", serif;
  font-weight: 700;
}
#root {
  height: 100vh;
  color: #fff;
}
header .header-logo {
  color: rgb(235, 39, 0);
  transition: 0.3s;
}
header .header-logo:hover {
  color: rgb(151, 25, 0);
}
.navbar-item {
  position: relative;
  text-decoration: none;
  color: rgb(225, 223, 223);
  transition: 0.3s;
}
.navbar-item:hover {
  color: rgb(235, 39, 0);
}

@media only screen and (max-width: 991px) {
  header .navbar-item:hover {
    color: rgb(235, 39, 0);
  }
}
@media only screen and (min-width: 992px) {
  header .navbar-item::after {
    content: "";
    position: absolute;
    height: 2px;
    background: rgb(235, 39, 0);
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform-origin: left center;
    transform: scaleX(0);
    transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  }
  header .navbar-item:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}

header a {
  text-decoration: none;
}
.header_logo_button_container {
  min-width: 250px;
  max-width: 200px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 5000;
  width: 100%;
}
.transparent {
  background-color: rgba(46, 45, 45, 0.2) !important;
}
.image_centered {
  background-position: center center / cover no-repeat;
}
.border-radius-card {
  border-radius: 10% 10% 10% 10% / 7% 7% 7% 8%;
}
.slider {
  height: 65vh;
  position: relative;
  top: 56px;
  margin-bottom: 50px;
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #c31319;
  --control-button-width: 15%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #f33d42;
  --control-bullet-active-color: #cf3438;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.img_slider_container {
  color: rgb(190, 190, 190);
  position: absolute;
  bottom: -16px;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.1) 6%,
    #000
  );
  width: 100%;
  height: 100%;
}
.rating {
  margin-top: 100px;
}
.input_search {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  width: 92%;
}

.input_search i {
  margin-left: 0.7rem;
}
.input_search input {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);

  background-color: black;
}
::placeholder {
  color: rgb(255, 255, 255);
}
main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.movies-container {
  padding-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 40px;
  justify-content: center;
}
.movie-card {
  transition: 0.3s;
  border: 2px solid #fffafa4e;
}

.list_img {
  cursor: pointer;
}
.img_container {
  position: relative;
}

.search_title_main {
  position: relative;
  top: 100px;
}
#MoviePage {
  width: 100vw;
  height: 100vh;
}
#MoviePage .movie-container {
  height: 100vh;
  background-color: rgba(22, 22, 22, 0.7);
}

#MoviePage .movie-poster-image {
  border-radius: 8%;
  width: 400px;
  height: 600px;
  border: 1.5px solid rgb(66, 61, 61);
}

#MoviePage .title {
  font-size: 4rem;
  margin-bottom: 50px;
}

#MoviePage p {
  font-size: 1rem;
}
#MoviePage .overview {
  color: rgb(245, 104, 104);
}

@media only screen and (max-width: 450px) {
  #MoviePage .title {
    font-size: 2rem;
  }
  #MoviePage p {
    font-size: 0.9rem;
  }
  #MoviePage .fs-mobile {
    font-size: 1rem !important;
  }
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #000000;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #dadada;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: rgb(250, 30, 30);
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
@media only screen and (max-width: 570px) {
  .slick-prev {
    margin-left: 50px;
    z-index: 1;
  }
  .slick-next {
    margin-right: 50px;
  }
}
