@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #131313;
  font-family: "Quattrocento", serif;
  font-weight: 700;
}
#root {
  height: 100vh;
  color: #fff;
}
.header_firstChild {
  position: fixed;
  width: 100%;
  z-index: 300;
  padding: 10px;
  background-color: rgba(22, 22, 22, 0.8);
  top: 0;
}
header {
  margin-top: 63px;
}
header .header-logo {
  position: relative;
  color: rgb(171, 29, 0);
  transition: 0.3s;
}

header .header-logo:hover {
  color: rgb(235, 39, 0);
}
header .header-logo:hover::after {
  background: rgb(144, 5, 5);
  height: 2px;
}
header .navbar-item::after {
  content: "";
  position: absolute;
  height: 2px;
  background: rgb(144, 5, 5);
  left: 0;
  right: 0;
  bottom: -3px;
  opacity: 0;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
header .navbar-item:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

header i {
  margin-right: 0.5rem;
}
header a {
  text-decoration: none;
}
.header_logo_button_container {
  min-width: 250px;
  max-width: 200px;
}
.transparent {
  background-color: rgba(46, 45, 45, 0.2);
}
.image_centered {
  background-position: center center / cover no-repeat;
}
.border-radius-card {
  border-radius: 10% 10% 10% 10% / 7% 7% 7% 8%;
}
.slider {
  height: 65vh;
  position: relative;
  top: 0;
  --slider-height-percentage: 60%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #cf3438;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #f33d42;
  --control-bullet-active-color: #cf3438;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.img_slider_container {
  color: rgb(190, 190, 190);
  position: absolute;
  bottom: -16px;
  left: 0;

  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.1) 6%,
    #000
  );
  width: 100%;
  height: 100%;
}
.navbar {
  top: 0;
}

.navbar_search {
  z-index: 300;
}

.rating {
  margin-top: 50px;
}
.input_search {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.input_search i {
  margin-left: 0.7rem;
}
.input_search input {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);

  background-color: black;
}

::placeholder {
  color: rgb(255, 255, 255);
}
main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.list_img {
  cursor: pointer;
}

.modal_image {
  width: 100%;
  height: 100%;
}
.modal_movie_info {
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.1) 6%,
    #000
  );
  width: 100%;
  height: 100%;
}
.search_title_main {
  margin-top: 150px;
}
#MoviePage {
  width: 100vw;
  height: 100vh;
}
#MoviePage .movie-container {
  height: 100%;
  width: 100%;
  background-color: rgba(22, 22, 22, 0.6);
}
#MoviePage .movie-description {
  height: 100%;
  width: 60%;
}
#MoviePage .movie-poster-image-container {
  height: 100%;
  width: 40%;
}
#MoviePage .movie-poster-image {
  width: 400px;
  height: 600px;
  border-radius: 8%;
}

@media only screen and (min-width: 480px) {
  .hamburguer {
    display: none;
  }
}
